html,
body {
  width: 100%;
  height: 100%;
  font-size: 100px;
}

body {
  padding: 0;
  margin: 0;
  font-size: .14rem;
}

textarea {
  resize: none !important;
}

.el-icon {
  width: auto;
}

.el-menu {
  border: none !important;

  .el-submenu__title {
    border: none !important;
  }

  li {
    border: none !important;
  }
}

.el-popper {
  border: none !important;
}