html,
body {
  width: 100%;
  height: 100%;
  font-size: 100px;
}

body {
  padding: 0;
  margin: 0;
  font-size: .14rem;
}

textarea {
  resize: none !important;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  // border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  // border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  // border-radius: 10px;
}

*::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

.el-icon {
  width: auto;
}

.el-menu {
  border: none !important;

  .el-submenu__title {
    border: none !important;
  }

  li {
    border: none !important;
  }
}

.el-popper {
  border: none !important;
}